<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b>Nilesh Jadhav</b> - Market research professional

*I am interested in data science because i would like to expand my current market research experience to next level and create opportunities for myself in field of Data Science*

### Below code will execute in loop and create series of 5 numbers multiplied by 5

In [7]:
for x in range(1,11):
    print(x*5)

5
10
15
20
25
30
35
40
45
50

<ol>
    <li>Nilesh</li>
    <li>Subhash</li>
    <li>Jadhav</li>
</ol>
<hr>
<ul>
    <li>Nilesh</li>
    <li>Subhash</li>
    <li>Jadhav</li>
</ul>
<hr>
<a>href="https://www.google.com">Link to Google</a>
<hr>

<table>
<tr>
<td><ID></td>
<td><Name></td>
<td><Salary></td>
</tr>
    
<tr>    
<td>1001</td>
<td>Nilesh</td>
<td>40000></td>
</tr>

<tr>
<td><2001></td>
<td><Subhash></td>
<td><50000></td>
</tr>
</table>

<hr>